@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,600,700&display=swap');

//TODO: Use only the required scss partial from bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

body {
  font-family: 'Fira Sans', sans-serif;
  background-color: #f6f6f6;
}

.container-fluid {
  max-width: 1400px;
}

a {
  color: #DC0019;

  &:hover {
    color: darken( #DC0019, 10% )
  }
}

.content-box {
  background: #FFFFFF;
  border: 1px solid rgba(46,91,255,0.08);
  border-radius: 1px;
  box-shadow: 0 2px 11px 0 rgba(215,215,215,0.50);
}

.form-label {
  color: #797979;
  font-size: 14px;
  text-transform: uppercase;
}

.form-control {
  font-size: 14px;
  color: #484848;
  background-color: #FAFAFA;
}

@media (min-width: 992px) {
  //Create account center aligned nav
  .nav-center {
    position: absolute;
    left: 0;
    right: 0;
    max-width: 270px;
  }
}
