.box-block {
    h3 {
        background: #333333;
        font-size: 24px;
        display: block;
        text-align: center;
        font-weight: 600;
        color: #fff;
        line-height: 2.5;
    }

    &-content {
        padding: 30px 40px;

        ul.plans-list {
            li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid #E6E6E6;
                padding: 25px 30px;

                h5 {
                    font-size: 24px;
                    color: #232A30;
                    margin: 0;
                }

                span {
                    font-size: 24px;
                    color: #5B5F64;
                }

                &:last-child {
                    border-bottom: none;
                    padding-bottom: 0;
                }
            }
        }
    }
}