header {
  padding: 7px 0;

  .main-nav {
    a {
      font-size: 16px;
      position: relative;
      color: #3c3c3c;
    }
  }

  .notify {
    .btn-primary.dropdown-toggle {
      background-color: #fff;
      border: 0;
      padding: 0;

      &:hover,
      &:active,
      &:focus {
        background-color: #fff;
        border-color: #fff;
        box-shadow: none !important;
        outline: none !important;
      }

      svg {
        width: 22px;
      }

      &::after {
        display: none;
      }

      &.have-notifications {
        position: relative;

        &::before {
          content: '';
          width: 6px;
          height: 6px;
          background: #ca2027;
          border-radius: 3px;
          position: absolute;
          right: 0;
          top: 3px;
        }
      }
    }

    .dropdown-menu {
      background: #ffffff;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      border: 0;

      ul {
        li {
          padding: 10px 15px;
          border-bottom: 1px solid #dee2e6;

          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }

  .myaccount-dropdown {
    .dropdown-menu {
      background: #ffffff;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      border: 0;

      figure {
        width: 60px;
        margin: 15px auto 10px;
      }

      p {
        font-size: 14px;
        font-weight: 300;

        span {
          font-weight: 400;
          display: inline-block;
        }

        .suscribed-plan {
          font-weight: 500;
          color: #ca2027;
        }

        .optout {
          background-color: #e4e4e4;
          border-radius: 2px;
          padding-right: 7px;

          &-count {
            background-color: #33ac2e;
            color: #fff;
            border-radius: 2px;
            padding: 0 6px;
            margin-right: 6px;
          }
        }
      }

      a {
        font-size: 12px;
        padding: 0 12px;

        &:hover,
        &:active,
        &:focus {
          color: #ca2027;
          background: transparent;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  header {
    .main-nav {
      margin-left: 50px;

      a {
        padding: 0;
        margin-right: 40px;

        &.active,
        &:hover {
          &::after {
            position: absolute;
            height: 3px;
            background: #ca2027;
            content: '';
            left: 0px;
            right: 0px;
            bottom: -27px;
          }
        }
      }
    }

    .notify {
      .dropdown-menu {
        left: inherit;
        right: 0;
        min-width: 250px;
      }
    }

    .myaccount-dropdown {
      .dropdown-menu {
        left: inherit;
        right: 0;
        min-width: 228px;
      }
    }
  }
}
