.hero-section {
  h1 {
    font-size: 76px;
  }
  .content {
    padding: 8% 0px;
  }
  p {
    font-size: 24px;
    color: #333333;
  }

  .chevron-placement {
    left: 0;
    right: 0;
    margin-top: 27px;
  }
  background-image: url(../img/masthead.jpg);
  position: relative;
  z-index: 0;
  background-size: cover;
  background-position: center;
}
