.profile-completion-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #fff;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
}

.profile-completion-number {
  width: 60%;
  align-self: center;
  font-size: xxx-large;
  font-weight: 500;
}

.profile-completion-number span {
  font-size: small;
}

.profile-completion-graph {
  width: 40%;
  padding: 20px;
}
.CircularProgressbar-path {
  stroke: #dc3545 !important;
}
div[data-test-id='CircularProgressbarWithChildren'] {
  width: 68px;
}
