.active-indicator {
  width: 8px;
  padding: 4px !important;
  height: 8px;
  top: 3px !important;
}
.nohover:hover {
  color: #6c757d !important;
  background-color: #fff !important;
  border-color: #6c757d !important;
  cursor: default !important;
}
