.plans-section {
  .pricing-title {
    font-size: 56px;
  }
  .fixed-width {
    width: 32%;
  }
  .fix-width {
    width: 36%;
    vertical-align: middle;
    border-left: 18px solid #f2f2f2;
  }
  h3.header-section {
    font-size: 22px;
    margin: 0;
    line-height: normal;
    font-weight: 600;
  }
  .free-plan {
    .header-section {
      background: #5a92a8;
      background: -moz-linear-gradient(-45deg, #5a92a8 0%, #58b3b6 100%);
      background: -webkit-linear-gradient(-45deg, #5a92a8 0%, #58b3b6 100%);
      background: linear-gradient(135deg, #5a92a8 0%, #58b3b6 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a92a8', endColorstr='#58b3b6', GradientType=1);
    }
  }
  .individual-lite-plan {
    .header-section {
      background: #dd4343;
      background: -moz-linear-gradient(-45deg, #dd4343 0%, #fb694e 100%);
      background: -webkit-linear-gradient(-45deg, #dd4343 0%, #fb694e 100%);
      background: linear-gradient(135deg, #dd4343 0%, #fb694e 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd4343', endColorstr='#fb694e', GradientType=1);
    }
  }
  .individual-plan {
    .header-section {
      background: #444444;
      background: -moz-linear-gradient(-45deg, #444444 0%, #5d5d5d 100%);
      background: -webkit-linear-gradient(-45deg, #444444 0%, #5d5d5d 100%);
      background: linear-gradient(135deg, #444444 0%, #5d5d5d 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#5d5d5d', GradientType=1);
    }
  }
  td:not(:first-child) {
    background: #fafafa;
    border-left: 18px solid #f2f2f2 !important;
  }

  .cursor {
    cursor: pointer;
  }
}
