.form-row > .col,
.form-row > [class*='col-'] {
  padding-right: 20px !important;
  padding-left: 15px !important;
}

#user-title,
#country,
#state,
#prev-state1,
#prev-state2 {
  background: none !important;
}

.react-date-picker__button:enabled {
  cursor: pointer;
  border: 0;
  background: transparent;
  padding: 4px 6px;
}

.invalid-feedback {
  display: block !important;
}

#required-notif {
  font-size: 12px;
  text-align: right;
  color: #797979;
  padding-right: 20px;
}

#red-star {
  color: #ca2027;
  font-weight: 600;
}

.form-row {
  margin-bottom: 20px !important;
  margin-left: 0 !important;
}

.form-control {
  height: 42px;
  border-radius: 4px !important;
  border: solid 1px #dedede;
  background-color: #fafafa;
}

.react-date-picker__wrapper {
  display: flex;
  border: none !important ;
}

.user-profile-card-body {
  label {
    color: #797979;
  }

  h1 {
    font-size: 24px;
    font-weight: 600;
    color: #000000;
    padding-left: 15px !important;
  }

  h4 {
    font-size: 18px;
    font-weight: normal;
    color: #000000;
    text-transform: uppercase;
    padding-left: 15px !important;
  }

  p {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.5;
    color: #414141;
    padding-top: 2px;
    padding-left: 15px !important;
    padding-right: 15px;
  }
  .submit-button {
    width: 257px;
    height: 43px;
    border-radius: 3px;
    background-color: #ca2027 !important;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    margin-right: 20px;
  }
}

.req-star::after {
  color: red;
  content: ' * ';
  position: absolute;
  right: -10px;
}

.req-star {
  position: relative;
}
